<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: :documents } %>

<% content_for :page_actions do %>
  <%= yield :page_actions %>
  <%= product_preview_link(@product) %>
  <%= button_link_to(Spree.t(:new_document), spree.new_admin_product_document_url(@product), { class: "btn-success", icon: 'add.svg', id: 'new_document_link' }) if can? :create, Spree::Document %>
<% end %>

<% has_variants = @product.has_variants? %>

<% unless @product.variant_documents.any? %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Document)) %>.
  </div>
<% else %>
<div class="table-responsive">
  <table class="table sortable" data-hook="documents_table" data-sortable-link="<%= update_positions_admin_product_documents_url(@product) %>">
    <thead>
      <tr data-hook="documents_header">
        <th colspan="2"><%= Spree.t(:document_url) %></th>
        <% if has_variants %>
          <th><%= Spree::Variant.model_name.human %></th>
        <% end %>
        <th><%= Spree.t(:alt_text) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody id="sortVert">
      <% (@product.variant_documents).each do |document| %>
        <tr id="<%= spree_dom_id document %>" data-hook="documents_row">
          <td class="move-handle text-center">
            <% if can? :edit, image %>
              <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
            <% end %>
          </td>
          <td class="image">
            <div class="admin-product-image-container small-img">
              <!-- paperclip -->
              <%# link_to document.attachment_file_name, document.attachment.url(:product) %>
              <!-- activestorage -->
              <%= link_to document.attachment.filename.to_s, main_app.rails_blob_url(document.attachment) %>
            </div>
          </td>
          <% if has_variants %>
            <td><%= options_text_for(document) %></td>
          <% end %>
          <td><%= document.alt %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_with_icon('edit.svg', Spree.t(:edit), spree.edit_admin_product_document_url(@product, document), class: 'btn btn-primary btn-sm', no_text: true, data: { action: 'edit' }) if can? :edit, document %>
              <%= link_to_delete(document, { url: spree.admin_product_document_url(@product, document), no_text: true }) if can? :destroy, document %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
